<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>
<center>
    <h1>
        Guru Vignesh Nagaraj <br/>
        1001382893
    </h1>
<br/><br/>
<h1> the number of lines in the db is {{ count }}</h1>
<form name="query_random" action = "/query_random" method = "get" enctype = "multipart/form-data">
    Enter the number of queries to process: <input type="number" name="query_limit">  <!-- Latitude: <input type="text" name="lat">  Longitude: <input type="text" name="long"> -->
    <!-- Distance: <input type="text" name="radius"><br> -->
    <input type="Submit" value="Search">
</form>


</center>
</body>
</html>