<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>
<center>
    <h1>
        Guru Vignesh Nagaraj <br/>
        1001382893
    </h1>
<br/><br/>
<h1> the number of lines in the db is {{ count }}</h1>
<form name="question5" action = "/question5" method = "get" enctype = "multipart/form-data">
    Lower depth error: <input type="number" name="lowdep">  Higher depth error: <input type="number" name="higherdep">  <br> 
    Longitude: <input type="number" name="Longitude"><!-- Latitude: <input type="text" name="lat">  Longitude: <input type="text" name="long"> -->
    <!-- Distance: <input type="text" name="radius"><br> -->
    <input type="Submit" value="Search">
</form>
<hr>
<form name="query_random" action = "/query_random" method = "get" enctype = "multipart/form-data">
    Enter the number of queries to process: <input type="number" name="query_limit">  <!-- Latitude: <input type="text" name="lat">  Longitude: <input type="text" name="long"> -->
    <!-- Distance: <input type="text" name="radius"><br> -->
    <input type="Submit" value="Search">
</form>
<hr>
<form name="restricted" action = "/restricted" method = "get" enctype = "multipart/form-data">
    Enter the number of queries to process: <input type="number" name="query_limit1">
    depth1: <input type="number" name="lowmag">  depth2: <input type="number" name="highermag">  <br>

    <input type="Submit" value="Search">
</form>
<hr>
<form name="chartcheck" action = "/chartcheck" method = "get" enctype = "multipart/form-data">
   chart: <input type="number" name="chart1">
    <input type="Submit" value="Display chart">
</form>


</center>
</body>
</html>