<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Restricted</title>
</head>
<body>

<center>
    <h1>
         Nagaraj, Guru Vignesh <br/>
        1001382893<br/><br/>
        <!-- Number of Earthquakes for your given range are: {{ count }} -->
        <!-- The average total time required to execute the restricted queries is {{ time_taken }} seconds -->
    </h1>


<table border="1">
    <tr>
        <th>time</th>
        <th>latitude</th>
        <th>longitude</th>
        <th>depth_error</th>
    </tr>
    {% for row in rows %}
        <tr>
            <td>
                {{ row[0] }}
            </td>
            <td>
                <center>{{ row[1] }}</center>
            </td>
            <td>
                <center>{{ row[2] }}</center>
            </td>
            <td>
                <center>{{ row[3] }}</center>
            </td>
        </tr>
    {% endfor %}
</table>
</center>
</body>
</html>

