<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Restricted</title>
</head>
<body>

<center>
    <h1>
        Guru Vignesh Nagaraj <br/>
        1001382893<br/><br/>
        <!-- Number of Earthquakes for your given range are: {{ count }} -->
        The average total time required to execute the restricted queries is {{ time_taken }} seconds<br>
        The individual queries take {{ list_of_times }} seconds<br>
        The range pairs are {{range_pairs}}<br>
        <br>

    </h1>


<!-- <table border="1">
    <tr>
        <th>Place</th>
        <th>Distance(in miles)</th>
    </tr>
    {% for place in places %}
        <tr>
            <td>
                {{ place[0] }}
            </td>
            <td>
                <center>{{ place[1] }}</center>
            </td>
        </tr>
    {% endfor %}
</table> -->
</center>
</body>
</html>

